/* ---- reset ---- */

html {
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #FFC6D9,#FFBCD2);
}

canvas {
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#splash-screen {
    background-image: url("https://media.giphy.com/media/Z4JWZ6E0LN9Pq/giphy.gif");
    background-size: 774px 435px;
    
}

#game-screen {
    background-image: url("background.png");
}

#game-over-screen {
    background-image: url("https://66.media.tumblr.com/6dbfd476b8ebdd4e7e372631efc79758/tumblr_ojqnk4OzgA1udh5n8o1_500.gif");
    background-size: 774px 435px;
}

#image {
    height: 20px;
    width: 20px;
     background: url(bubbles.png) 0px 0px;
  }

#game-over-container {

}



button {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}